
<body class="body">
    <!--Comienzo body-->
    {{>nav}}


    <!--Comienzo de las secciones-->
    <section class="perfil-container"> 
        <div class="perfil1"> <!--seccion de los datos personales del usuario-->
                <img src="/profile_resources/styles/imagenes/mecanico.png" alt="perfil del usuario">
                
                
                <form action="/profile/edit/{{ownprofile}}" method="post"><button type="submit">Confirmar</button>
                
                <input class="nombre-usuario" id="user" name="user" value="{{user}}"></input>
                <div class="puntuacion">
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                </div>
                <h2 class="datos-personales">Datos Personales</h2>
                <div class="perfil-info">
                    <div>
                        <i class="fas fa-briefcase"></i>
                        <p> Especialidad: <input type="text" name="especialidad" id="especialidad" value="{{especialidad}}"></input></p>
                    </div>
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p> Edad:<input type="text" id="edad" name="edad" value="{{edad}}"></input> </p>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <p> Zona:<input type="text" id="localidad" name="localidad" value="{{localidad}}"> </input> </p>
                    </div>
                    

                </div>
                <h2 class="datos-contacto">Datos de Contacto</h2>
                <div class="perfil-contact">
                    <div>
                        <i class="fa-solid fa-mobile-screen-button"></i><input type="text" value="{{telefono}}">
                    </div>
                    <div>
                        <i class="fa-solid fa-envelope"></i><input type="text" value="{{email}}">
                    </div>
                </div>
        </div>


        <div class="perfil2"> <!--seccion de experencia del usuario-->
            <div class="tab_box">
                <a type="button" class="tab_btn active" >Descripcion</a>
                <a class="tab_btn">Mis trabajos</a>
                <a class="tab_btn">Estudios</a>
            </div>

            <div class="content_box">
            
                <div class="content active">
                    <h2>Descripcion</h2>
                    <p class="info-tab"><input class="desc" type="text" value="{{descripcion}}">
                        
                    </p>
                    <h2>Experiencia Laboral</h2>
                    <ul>
                        <input class="desc" type="text">
                        
                    </ul>
                </div>
                <div class="content">
                    <img src="/profile_resources/styles/imagenes/trabajo1.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo2.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo3.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo4.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo5.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo6.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Estudios</h2>

                    <ul>
                        <input type="text" class="desc">
                        
                    </ul>
                </div>
            </div>
            </form>
        </div>
    </section>


    <!-- Fin de la seccion 2 -->



    <section class="reputacion"> <!-- Comienzo de la seccion de opiniones-->
        <div class="opiniones">
            <h1>Comentarios</h1>
        </div>
        

        <div class="comentarios">
        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="/profile_rersources/styles/imagenes/Fulanito_opinion.jpg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Jose Luis Ramirez</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">Excelente servicio, respuesta rapida</p>
            <h4 class="text-tiempo">Hace 2 semanas</h4>
            </div>
        </article>
        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="/profile_rersources/styles/imagenes/Roberto_opinion.jpg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Rosa Valentina Gutierrez</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">Muy buen trato.Es un AMOR!!</p>
            <h4 class="text-tiempo">Hace 1 mes</h4>

            </div>
        </article>

        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="profile_rersources/styles/imagenes/silvia_opinion.jpg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Silvia Gimenez</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">Me arreglo el aire acondicionado y tambien me hizo un service</p>
            <h4 class="text-tiempo">Hace 3 meses</h4>

            </div>
        </article>
        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="/profile_rersources/styles/imagenes/icono.jpeg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Roberto Robles</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">tarda mucho,muy desordenado</p>
            <h4 class="text-tiempo">Hace 3 meses</h4>

            </div>
        </div>
        <div class="btn-comments">
            <button>mas comentarios</button>
        </div>
    </article>
    </section>



    {{>footer}}
    
    <script type="module" src="/profile_resources/src/perfil-script.js" ></script>
    
    <script src="https://kit.fontawesome.com/81581fb069.js"crossorigin="anonymous"
></script>
</body>
