
<body class="body">
    <!--Comienzo body-->
    {{>nav}}


    <!--Comienzo de las secciones-->
    <section class="perfil-container"> 
        <div class="perfil1"> <!--seccion de los datos personales del usuario-->
                <img src="/profile_resources/styles/imagenes/mecanico.png" alt="perfil del usuario">
                {{#if owner}}
                
                <form action="/profile/edit/{{ownprofile}}" method="post"><button>Editar</button></form>
                {{/if}}
                <h1 class="nombre-usuario">{{user}}</h1>
                <div class="puntuacion">
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                    <i class="fa-solid fa-star fa-xl"></i>
                </div>
                <h2 class="datos-personales">Datos Personales</h2>
                <div class="perfil-info">
                    <div><i class="fas fa-briefcase"></i><p> Especialidad:{{especialidad}}</p></div>
                    <div><i class="fa-solid fa-calendar-days"></i><p> Edad: {{edad}}</p></div>
                    <div><i class="fas fa-map-marker-alt"></i><p> Zona: {{localidad}} </p></div>
                    

                </div>
                <h2 class="datos-contacto">Datos de Contacto</h2>
                <div class="perfil-contact">
                <div><i class="fa-solid fa-mobile-screen-button"></i><p>{{telefono}}</p></div>
                <div><i class="fa-solid fa-envelope"></i><p>{{email}}</p></div>
                </div>
        </div>


        <div class="perfil2"> <!--seccion de experencia del usuario-->
            <div class="tab_box">
                <button class="tab_btn active" >Descripcion</button>
                <button class="tab_btn">Mis trabajos</button>
                <button class="tab_btn">Estudios</button>
            </div>

            <div class="content_box">

                <div class="content active">
                    <h2>Descripcion</h2>
                    <p class="info-tab">
                        Hola, mi nombre es Luis Dominguez, y soy un electricista especializado con más de 10 años de experiencia en el campo de la electricidad. A lo largo de mi carrera, he tenido la oportunidad de trabajar en una variedad de proyectos, desde pequeñas reparaciones domésticas hasta grandes instalaciones industriales
                    </p>
                    <h2>Experiencia Laboral</h2>
                    <ul>
                        <li> Mantenimiento Eléctrico Residencial e Industrial: Durante mis años de trabajo, he realizado mantenimiento preventivo y correctivo en sistemas eléctricos de hogares y fábricas. Esto incluye la inspección de cables, la reparación de circuitos y la actualización de instalaciones eléctricas para cumplir con las normativas vigentes.</li>
                        <li>Instalación de Sistemas Eléctricos: He participado en la instalación completa de sistemas eléctricos en nuevas construcciones, tanto residenciales como comerciales. Esto incluye la planificación de rutas de cableado, la instalación de paneles eléctricos, y la conexión de electrodomésticos y maquinaria.</li>
                        <li>Diagnóstico y Reparación de Averías: Una parte esencial de mi trabajo ha sido diagnosticar y reparar fallos eléctricos. Mi experiencia me ha permitido identificar rápidamente problemas en los sistemas eléctricos y aplicar las soluciones más eficaces para restablecer el funcionamiento</li>
                        <li>Eficiencia Energética: En los últimos años, me he especializado en la implementación de soluciones para mejorar la eficiencia energética de los sistemas eléctricos. Esto incluye la instalación de sistemas de iluminación LED, la optimización del uso de energía en maquinaria industrial, y el asesoramiento sobre el uso eficiente de la electricidad.</li>
                    </ul>
                </div>
                <div class="content">
                    <img src="/profile_resources/styles/imagenes/trabajo1.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo2.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo3.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo4.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo5.jpg" alt="">
                    <img src="/profile_resources/styles/imagenes/trabajo6.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Estudios</h2>

                    <ul>
                        <li>Curso de Instalaciones Eléctricas Residenciales y Comerciales:
                            Instituto Técnico de Electricidad
                            Año de finalización: 2023
                            Descripción: Formación intensiva en la instalación, mantenimiento y reparación de sistemas eléctricos en viviendas y establecimientos comerciales, incluyendo la interpretación de planos y la conexión de dispositivos.</li>
                        <li>Capacitación en Sistemas de Energía Solar Fotovoltaica centro de Energías Renovables
                            Año de finalización: 2021
                            Descripción: Formación en la instalación y mantenimiento de sistemas de energía solar, incluyendo el dimensionamiento de sistemas fotovoltaicos y la integración con redes eléctricas existentes.</li>
                        <li>Taller de Eficiencia Energética en Instalaciones Eléctricas
                            Instituto de Energía Sostenible
                            Año de finalización: 2018
                            Descripción: Curso enfocado en la implementación de prácticas de eficiencia energética en sistemas eléctricos, con énfasis en la reducción del consumo energético y el uso de tecnologías sostenibles.</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Fin de la seccion 2 -->



    <section class="reputacion"> <!-- Comienzo de la seccion de opiniones-->
        <div class="opiniones">
            <h1>Comentarios</h1>
        </div>
        

        <div class="comentarios">
        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="/profile_rersources/styles/imagenes/Fulanito_opinion.jpg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Jose Luis Ramirez</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">Excelente servicio, respuesta rapida</p>
            <h4 class="text-tiempo">Hace 2 semanas</h4>
            </div>
        </article>
        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="/profile_rersources/styles/imagenes/Roberto_opinion.jpg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Rosa Valentina Gutierrez</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">Muy buen trato.Es un AMOR!!</p>
            <h4 class="text-tiempo">Hace 1 mes</h4>

            </div>
        </article>

        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="profile_rersources/styles/imagenes/silvia_opinion.jpg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Silvia Gimenez</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">Me arreglo el aire acondicionado y tambien me hizo un service</p>
            <h4 class="text-tiempo">Hace 3 meses</h4>

            </div>
        </article>
        <article class="card-profesional">
            <figure class="img-profesional">
                <img src="/profile_rersources/styles/imagenes/icono.jpeg" alt="foto-especialista">
            </figure>

            <div class="conteiner-info">

                <div class="nombre-usuario-opinion">
                    <h2>Roberto Robles</h2>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            <p class="text-opinion">tarda mucho,muy desordenado</p>
            <h4 class="text-tiempo">Hace 3 meses</h4>

            </div>
        </div>
        <div class="btn-comments">
            <button>mas comentarios</button>
        </div>
    </article>
    </section>



    {{>footer}}
    
    <script type="module" src="/profile_resources/src/perfil-script.js" ></script>
    
    <script src="https://kit.fontawesome.com/81581fb069.js"crossorigin="anonymous"
></script>
</body>
